{% extends 'base/base.html' %}
{% load static %}

{% block title %}David's Chat App{% endblock title %}

{% block content %}
    <div class="outer-container">
        <div class="container chat-window">
            <p>You are currently logged in as <b>{{ request.user.username }}</b>.</p>
            <div class="chat-message-window">

                <h2>Chat Window</h2>
                <ul data-bind="foreach: messages">
                    <li>
                        <p>
                            <b data-bind="text: sender_username"></b>
                            <span data-bind="text: message_text"></span>
                        </p>
                        <p data-bind="text: humanized_timestamp"></p>
                    </li>
                </ul>


            </div><!-- end .chat-message-window div -->
        </div><!-- end .container div -->

        <div class="users-online">
            <h2>Who's Available:</h2>
            <ul>
                {% for available_user in available_users %}
                    <li class="available-user-selector" data-username="{{ available_user.user.username }}">{{ available_user.user.username }}</li>
                {% endfor %}
            </ul>
        </div><!-- end .users-online div -->

        <div class="message-input">
            <label for="message"></label>
            <textarea id="message" name="message" rows="3" cols="79" maxlength="200" wrap="hard"></textarea>
        </div>

        <button id="send-message-button" class="styled-button">Send</button>
    </div><!-- end .outer-container div -->
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/messaging.js' %}"></script>
    <script src="{% static 'js/messaging_ko.js' %}"></script>
    <script>
        {# I don't like putting JavaScript in HTML templates, but it's kind of necessary here. #}
        $(document).ready(function() {
            if (typeof window.CysylltiadProject === 'undefined') {
                window.CysylltiadProject = {};
            }
            window.CysylltiadProject.activeUsername = '{{ request.user.username }}';
        });
    </script>
{% endblock scripts %}