{% extends 'base/base.html' %}
{% load static %}

{% block title %}Knockout Sandbox{% endblock title %}

{% block content %}
    <h4>Messages</h4>
        <ul data-bind="foreach: messages">
            <li>
                <b data-bind="text: sender"></b>
                <p data-bind="text: message_text"> </p>
            </li>
        </ul>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script>
    function MessageViewModel() {
        var self = this;
        self.messages = ko.observableArray([]);
        self.addMessage = function(sender, message_text) {
	        self.messages.push({'sender': sender, 'message_text': message_text})
        };
        self.clearAll = function() {
            self.messages.removeAll();
        };
    }

    mvm = new MessageViewModel();
    ko.applyBindings(mvm);
    mvm.addMessage('Alice', 'Hello!');
    mvm.addMessage('Bob', 'Greetings!');
    mvm.addMessage('Alice', 'Not too bad, you?');
    mvm.addMessage('Bob', 'Getting by, thanks! :)');
    </script>



{% endblock scripts %}